Dashboard.txt
[
    {
        "id": "4fa17d0c.f5ddf4",
        "type": "mqtt out",
        "z": "33a31836.0f6f78",
        "name": "",
        "topic": "topic/1f04",
        "qos": "",
        "retain": "",
        "broker": "798c510f.ac9a1",
        "x": 680,
        "y": 295,
        "wires": []
    },
    {
        "id": "bcaaa66c.3a53d",
        "type": "mqtt in",
        "z": "33a31836.0f6f78",
        "name": "",
        "topic": "topic/1f04",
        "qos": "2",
        "broker": "798c510f.ac9a1",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "58a8720f.79dce4",
                "acdbedc1.574d1"
            ]
        ]
    },
    {
        "id": "58a8720f.79dce4",
        "type": "ui_chart",
        "z": "33a31836.0f6f78",
        "name": "",
        "group": "9d298b5d.8d1b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "My chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 632.5,
        "y": 104,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "acdbedc1.574d1",
        "type": "ui_gauge",
        "z": "33a31836.0f6f78",
        "name": "",
        "group": "9d298b5d.8d1b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "My Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 642.5,
        "y": 162.39999389648438,
        "wires": []
    },
    {
        "id": "83bdffe3.b801e",
        "type": "ui_button",
        "z": "33a31836.0f6f78",
        "name": "",
        "group": "9d298b5d.8d1b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle PIC sleep mode",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[BBB]sleep",
        "payloadType": "str",
        "topic": "topic/1f04",
        "x": 397.5,
        "y": 294.79998779296875,
        "wires": [
            [
                "4fa17d0c.f5ddf4"
            ]
        ]
    },
    {
        "id": "798c510f.ac9a1",
        "type": "mqtt-broker",
        "z": "",
        "name": "My_Broker",
        "broker": "172.17.4.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9d298b5d.8d1b8",
        "type": "ui_group",
        "z": "",
        "name": "Page principale",
        "tab": "c43937f4.6a947",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c43937f4.6a947",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]